1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
*, 'hello'   ,    -87.8   ,   -   ,    /   ,  +  , 6

Ans 


Values :'hello'   ,-87.8   ,   6



Expression : *,/,+,-

2. What is the difference between string and variable?

A variable is a place for storing the information like an empty box and string is a special type of datatype of sequence of characters to store the information in a variable. So to store a string also we need a variable.

Some special properties regarding variables are 
1. Variable names should start with alphabets
2. Variable names should not contain any special characters like ^ % $ ! @ # ^ & * ( )
3. Variable names can contain numbers but you can't start with numbers

3. Describe three different data types.

The three different datatypes are:


1. Integer(int): This type of datatype contains integers only without fraction or decimal points. eg : 1,2,3,-4,-90 etc
2. Float : This type of datatype contains real numbers with decimal points only
eg: 3.44,4.56,-9.76 etc
3. Strings(str) : This type of datatypes are used for representing unicode characters, it is a collection of one or more characters put in a single quote, double quote or tripple qoute. eg : "Chandra"

4. What is an expression made up of? What do all expressions do?

Expressions are made up of operators or operands .
These expressions are used to produce some value or result after being interpreted by the python interpreter.

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Statements are piece of codes that executes a specific action for completing the task assigned to the computer .
But Expression are piece of codes that certainly evaluates a value


In the above example


spam=10

it is a statement that assigns a value 10 to the variable spam.
But "=" is an expression that certainly evaluates a value by assigning 10 to spam

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

bacon=23

In [1]:
bacon=22
bacon+1

23

7. What should the values of the following two terms be?


'spam' + 'spamspam'


'spam' * 3

ans

'spam' + 'spamspam'='spamspamspam'


'spam'*3='spamspamspam'

In [2]:
'spam'+'spamspam'

'spamspamspam'

In [3]:
'spam'*3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

Ans : 

As i have already discussed in the properties of variable that a Variable names can contain numbers but you can't start with numbers.

So eggs is a valid variable name as it consist of alphabets
and variable name 100 starts with a number or its a complete number, so it can't be used as a variable

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

Ans : 

To get integer int(value) is used

To get floating-point number float(value) is used

To get string version of a value str(value) is used

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

Ans: 

Concatenation between integers and string value is not possible.

As we can see in the above expression 99 is an integer and 'I have eaten' and 'burritos' are strings so this expression will through a Type error.

In [4]:
 'I have eaten ' + 99 + ' burritos'

TypeError: ignored

To fix this we have to make the int value 99 to string value using "" or ''

In [5]:
 'I have eaten ' + '99' + ' burritos'

'I have eaten 99 burritos'